body {
    background: #0000 url(bg.png) repeat-x top left;
    font-family: verdana;
    padding: 0px;
    margin: 0px;
    letter-spacing: 2px;
}

.bubi1 {
    margin-top: 100px;
    padding: 0px;
    bottom: 0px;
}

.bubi1,
.bubi2 {
    width: 580px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #0F0;
    background-color: #0000;
}

.bubi2,
.bubi3 .bubi4 {
    border: 1px solid #0F0;
    width: 560px;
    margin: 2px;
    padding: 50px 10px;
    text-align: center;
    background-color: #0000;
}